/*BEGIN - REMOVE WHEN YOU START YOUR PROJECT*/
html {
  height: 100%;
}

body {
  font-family: monospace, sans-serif;
  height: 100%;
  margin: 0;
}
/*END - REMOVE WHEN YOU START YOUR PROJECT*/

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 115%;
  text-align: center;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
}

.hero {
  color: #1A191C;
}

.hero__container {
  width: calc(100% - 12rem);
  padding: 4rem 6rem;
  background: #CFDFDA;
  
}

.hero__container.product {
  color: white;
  background: linear-gradient(59.93deg, #5337CF 0%, #220A8D 100%);
}

.hero__main {
  display: flex;
  flex-direction: row;
}

.hero__left {
  max-width: 45%;
  flex-shrink: 2;
}

.hero__right {
  margin-left: 32px;
}

.hero__title {
  color: #442AB9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 115%;
}

.hero__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.hero__title.product {
  color: white;
  font-size: 48px;
}

.hero__button {
  color: white;
  background:#442AB9;
  border-radius: 4px;
  box-shadow: none;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  padding: 1rem 3rem;
}

.hero__button.product {
  color: #0D3427;
  background: #5EDEB3;
}

.hero__product_name {
  margin-left: 12px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 115%;
  text-transform: uppercase;
}

.hero__product_icon {
  width: 64px;
  height: 64px;
  background-color: red;
}

.hero__product {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero__partners {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.hero__partner_logo {
  width: 175px;
  height: 64px;
  background-color: darkgray;
}

.hero__primary_image {
  width: 640px;
  height: 400px;
  background-color: aliceblue;
}