{% extends "layouts/default.html" %}

{% block content %}
  <div class="hero__container">
    <div class="hero__main">
      <div class="hero__left">
          <div class="hero__product">
            <!-- <img class="hero__product_icon">
            <h3 class="hero__product_name">Content Editor</h3> -->
          </div>
          <h1 class="hero__title">We make distributed content simple</h1>
          <p class="hero__description">TakeShape provides instant, intuitive, adaptable, and collaborative services to power JAMstack projects of any size, shape, or complexity.</p>
          <button class="hero__button">
            <strong>Get Started for Free</strong>
          </button>
        </div>
        <div class="hero__right">
          <img class="hero__primary_image">
        </div>
    </div>
    <div class="hero__partners">
      <img class="hero__partner_logo">
      <img class="hero__partner_logo">
      <img class="hero__partner_logo">
    </div>
  </div>
  <div class="homepage__content">
    <h2>A solid foundation for your next JAMstack project</h2>

    <div class="homepage__product">
      <img class="homepage__image">
      <div class="homepage__blurb">
        <div class="hero__product">
          <img class="hero__product_icon">
          <h3 class="homepage__product_name">Content Editor</h3>
        </div>
        <h3 class="homepage__tagline">Drag and drop fields, collaborative editing</h3>
        <p class="homepage__description">Your content will evolve with your thinking.</p>
      </div>
    </div>

    <div class="homepage__product reverse">
      <div class="homepage__blurb">
        <div class="hero__product">
          <img class="hero__product_icon">
          <h3 class="homepage__product_name">Mesh</h3>
        </div>
        <h3 class="homepage__tagline">Tie all of your services together</h3>
        <p class="homepage__description">All the services you grow to depend on will work together as one.</p>
      </div>
      <img class="homepage__image">
    </div>

    <div class="homepage__product">
      <img class="homepage__image">
      <div class="homepage__blurb">
        <div class="hero__product">
          <img class="hero__product_icon">
          <h3 class="homepage__product_name">Static Site Generator</h3>
        </div>
        <h3 class="homepage__tagline">Drag and drop fields, collaborative editing</h3>
        <p class="homepage__description">Your content will evolve with your thinking.</p>
      </div>
    </div>

    <div class="homepage__product reverse">
      <div class="homepage__blurb">
        <div class="hero__product">
          <img class="hero__product_icon">
          <h3 class="homepage__product_name">GraphQL API</h3>
        </div>
        <h3 class="homepage__tagline">Tie all of your services together</h3>
        <p class="homepage__description">All the services you grow to depend on will work together as one.</p>
      </div>
      <img class="homepage__image">
    </div>

    <h2>An intuitive experience for every team member</h2>

    <div class="homepage__users">
      <img class="homepage__image">
      <div class="homepage__user_options">
        <input type="radio" name="user" class="homepage__user_selector">
        <input type="radio" name="user" class="homepage__user_selector">
        <input type="radio" name="user" class="homepage__user_selector">
      </div>
        
    </div>

  </div>
  
{% endblock %}
