{% extends "layouts/default.html" %}

{% block content %}
  <div class="hero__container">
    <div class="hero__main">
      <div class="hero__left">
          <div class="hero__product">
            <img class="hero__product_icon">
            <h3 class="hero__product_name">Content Editor</h3>
          </div>
          <h1 class="hero__title">We make distributed content simple</h1>
          <p class="hero__description">TakeShape provides instant, intuitive, adaptable, and collaborative services to power JAMstack projects of any size, shape, or complexity.</p>
          <button class="hero__button">
            <strong>Get Started for Free</strong>
          </button>
        </div>
        <div class="hero__right">
          <img class="hero__primary_image">
        </div>
    </div>
    <!-- <div class="hero__partners">
      <img class="hero__partner_logo">
      <img class="hero__partner_logo">
      <img class="hero__partner_logo">
    </div> -->
  </div>
  
{% endblock %}
